<div class="login-card row justify-space-between-md" style="margin: 10px;">
  <div class="add-topic">
    <h2 class="page-title">Add Topic</h2>
    <form class="form addtopic">
      <div class="form-group">
        <label for="username-signup">title:</label>
        <input class="form-input" type="text" id="topic-title" />
      </div>
      <div class="form-group">
        <label for="email-signup">Content:</label>
        <input class="form-input" type="text" id="topic-content" />
      </div>
      <div class="form-group">
        <label>Posting_date:</label>
        <input class="form-input" type="date" id="topic-date" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary submit" type="submit" style="padding: 3%;">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/submit.js"></script>