
{{#each dashboard as |dashboard|}}
<header class="container" id="dashboard" style="font-size: 1.3rem; padding: 30px; margin: 5px auto; border-radius: 10%">
    {{title}}
    <h6 class="hearderInfo" style="color: var(--secondary);">-{{format_date createdAt}}</h6>
</header>
{{/each}}

<a href="/dashboard/add">
    <button class="submit" style="padding: 1%; width:85%">Upload</button>
</a>
