<section class="card">
      <header>{{topic.title}} 
      <p class="headerInfo">Posted by {{topic.user.username}} on {{topic.createdAt}}</p>
    </header>
    <p>{{topic.content}}</p>


  <section class="flex-row justify-center">
    {{#each topic.comments as |comment|}}
    {{> comment}}
    {{/each}}
  </section>
  
</section>

